nav {
    margin: 10px 0;
}

.main-content {
  background-color: #8dc1e2;
  min-height: 600px;
  padding: 50px 50px;
}

.footer {
  background-color: #999999;
  padding-top: 30px;
  min-height: 130px;
}

.red-text {
  color: red;
}

.jumbotron {
  background-color: #8dc1e2 !important;
  text-align: center;
}

.text-center {
  text-align: center;
}

ul {
  list-style: none;
}
